@font-face {
  font-family: "sitelen-seli-kiwen--asuki";
  src: url(sitelen-seli-kiwen/sitelenselikiwenasuki.eot);
  src: url(sitelen-seli-kiwen/sitelenselikiwenasuki.ttf) format("truetype");
}

@font-face {
  font-family: "sitelen-seli-kiwen--atuki";
  src: url(sitelen-seli-kiwen/sitelenselikiwenatuki.eot);
  src: url(sitelen-seli-kiwen/sitelenselikiwenatuki.ttf) format("truetype");
}

@font-face {
  font-family: "sitelen-seli-kiwen--juniko";
  src: url(sitelen-seli-kiwen/sitelenselikiwenjuniko.eot);
  src: url(sitelen-seli-kiwen/sitelenselikiwenjuniko.ttf) format("truetype");
}

@font-face {
  font-family: "sitelen-seli-kiwen-mono--asuki";
  src: url(sitelen-seli-kiwen/sitelenselikiwenmonoasuki.eot);
  src: url(sitelen-seli-kiwen/sitelenselikiwenmonoasuki.ttf) format("truetype");
}

@font-face {
  font-family: "sitelen-seli-kiwen-mono--atuki";
  src: url(sitelen-seli-kiwen/sitelenselikiwenmonoatuki.eot);
  src: url(sitelen-seli-kiwen/sitelenselikiwenmonoatuki.ttf) format("truetype");
}

@font-face {
  font-family: "sitelen-seli-kiwen-mono--juniko";
  src: url(sitelen-seli-kiwen/sitelenselikiwenmonojuniko.eot);
  src: url(sitelen-seli-kiwen/sitelenselikiwenmonojuniko.ttf) format("truetype");
}

$bg-color: #f6e7cb;
$input-bg-color: #f6d0cb;
$pastel-green: #74d3ae;
$pastel-red: #e5705b;
$dark-pastel-blue: #0c6291;
$dark-pastel-purple: #7461b1;
$dark-pastel-red: #a63446;

$visible-glyph-count: 4;

@mixin no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-select {
  @include no-select;
}

html, body {
  background: $bg-color;
}

main {
  margin: 32px 32px;
}

h1, h2, p, .lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.05em;
}

h2 {
  font-weight: 400;
}

h1 {
  font-weight: 400;
  font-size: 2.4em;
}

button {
  --border-width: 4px;
  border: var(--border-width) solid black;
  border-radius: 20px;
  font-weight: 400;
  font-size: 24px;
  padding: .4em .5em;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

#name-input-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  label {
    font-weight: 300;
    font-size: 24px;
  }

  .row {
    gap: 12px;
    flex-wrap: wrap;

    button {
      padding: 16px 20px;
      border-radius: 24px;

      &#reset-button {
        background: $dark-pastel-red;
        color: white;

        &:hover {
          background: lighten($dark-pastel-red, 10%);
        }

        &:active {
          background: darken($dark-pastel-red, 10%);
        }
      }

      &#randomize-button {
        background: $dark-pastel-purple;
        color: white;

        &:hover {
          background: lighten($dark-pastel-purple, 10%);
        }

        &:active {
          background: darken($dark-pastel-purple, 10%);
        }
      }
    }
  }

  .text-box-container {
    margin: 12px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border-width: 3px;
    border-style: solid;
    border-radius: 24px;
    background: $input-bg-color;
    position: relative;
  }

  #name-text-box, #name-text-box-size-calibration {
    padding: 12px 0 12px 18px;
    font-family: "sitelen-seli-kiwen--juniko", serif;
    font-size: 30px;
    min-width: 4em;
    background: none;
    border: none;
    outline: none;
  }

  #name-text-box {
    position: absolute;
    left: 0;
    width: calc(100% - 24px);
    // make text invisible, but the cursor still visible
    color: transparent;
    caret-color: black;
  }

  #name-text-box-size-calibration {
    white-space: pre;

    &:empty::before {
      content: "jan Sonja";
      color: #606060;
    }
  }

  #status-text {
    &--valid, &--uncommon {
      color: $pastel-green;
    }

    &--invalid {
      color: $pastel-red;
    }

    &--valid, &--uncommon, &--invalid {
      font-size: 32px;
      margin: 12px;
      display: none;
    }
  }

  &.valid .text-box-container, &.uncommon .text-box-container {
    border-color: $pastel-green;
  }

  &.invalid .text-box-container {
    border-color: $pastel-red;
  }

  &.valid #status-text--valid,
  &.uncommon #status-text--uncommon,
  &.invalid #status-text--invalid {
    display: block;
  }
}

.results-container {
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 32px;

  .glyph-select-section, #definitions-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .lexend:not(button) {
      font-weight: 300;
      font-size: 24px;
    }
  }

  .glyph-select-section {
    align-items: center;

    #glyph-selector {
      @include no-select;

      $glyph-height: 1.2em;

      pointer-events: none;

      font-family: "sitelen-seli-kiwen-mono--asuki", serif;
      font-size: 64px;
      white-space: nowrap;

      position: relative;
      z-index: 2;
      margin-top: 18px;

      #noun, #name-outline {
        font: inherit;
        display: inline;
      }

      #copy-button {
        pointer-events: auto;
        color: white;
        background: $dark-pastel-blue;
        position: absolute;

        &:hover {
          background: lighten($dark-pastel-blue, 10%);
        }

        &:active {
          background: darken($dark-pastel-blue, 10%);
        }

        #success-popup {
          position: absolute;
          left: 12px;
          bottom: calc(100% + 12px);
          background: rgba(0, 0, 0, 0.8);
          color: white;
          z-index: 1;
          padding: 4px 8px;
          border-radius: 8px;
          visibility: hidden;

          &.show {
            animation: fade 3s;
          }

          @keyframes fade {
            0% {
              opacity: 1;
              visibility: visible;
            }
            66% {
              opacity: 1;
            }
            99% {
              opacity: 0;
              visibility: visible;
            }
            100% {
              opacity: 0;
              visibility: hidden;
            }
          }
        }
      }

      height: calc($visible-glyph-count * $glyph-height);

      .name-letter {
        --letter-index: 0;
        --letter-bg-color: red;
        --letter-scroll: 0;
        --letter-glyph-count: 1;

        pointer-events: auto;

        position: absolute;

        --border-width: 4px;
        border: var(--border-width) solid black;
        border-radius: 18px;
        top: 0;
        left: calc(.9em * (var(--letter-index) + 2));
        box-sizing: border-box;
        margin: calc(0px - var(--border-width));
        background-color: var(--letter-bg-color);
        width: 1em;
        height: calc($visible-glyph-count * $glyph-height);
        overflow: hidden;
        z-index: -1;

        & > div {
          transform: translateY(calc(0px - $glyph-height * var(--letter-scroll)));
          height: calc($glyph-height * var(--letter-glyph-count));

          > .glyph {
            height: $glyph-height;
          }
        }
      }
    }
  }

  #definitions-section {
    flex-grow: 1;
    align-items: flex-start;

    #definitions {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      align-self: stretch;

      & > div {
        --definition-color: red;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;

        font-size: 54px;
        color: var(--definition-color);

        .word {
          font-family: "sitelen-seli-kiwen-mono--asuki", serif;
        }

        .definition {
          font-family: "sitelen-seli-kiwen--juniko", serif;
          white-space: nowrap;

          &::before {
            content: "-";
            margin-left: 0.2em;
            margin-right: 0.36em;
          }
        }
      }
    }
  }
}