@font-face {
  font-family: "sitelen-seli-kiwen-mono--asuki";
  src: url("sitelen seli kiwen/sitelenselikiwenmonoasuki.ttf") format("truetype");
}

@font-face {
  font-family: "sitelen-seli-kiwen--asuki";
  src: url("sitelen seli kiwen/sitelenselikiwenasuki.ttf") format("truetype");
}

@font-face {
  font-family: "sitelen-seli-kiwen--juniko";
  src: url("sitelen seli kiwen/sitelenselikiwenjuniko.ttf") format("truetype");
}


@mixin no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-select {
  @include no-select;
}

:root {
  --bg-color: #f6e7cb;
  --input-bg-color: #f6d0cb;
  --pastel-green: #74d3ae;
  --pastel-red: #e5705b;
}

html, body {
  background: var(--bg-color);
}

main {
  margin: 32px 32px;
}

h1, h2, p, .lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.05em;
}

h2 {
  font-weight: 400;
}

h1 {
  font-weight: 400;
  font-size: 2.4em;
}

#name-input-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  label {
    font-weight: 300;
    font-size: 24px;
  }

  .text-box-container {
    margin: 12px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  #name-text-box {
    border-width: 3px;
    border-style: solid;
    border-radius: 24px;
    padding: 12px 0 12px 18px;
    height: fit-content;
    background: var(--input-bg-color);
    font-family: "sitelen-seli-kiwen--juniko", serif;
    font-size: 30px;
    min-width: 3em;
  }

  #status-text {
    font-size: 32px;
    margin: 12px;
  }

  &.valid {
    #name-text-box {
      border-color: var(--pastel-green);
    }

    #status-text {
      color: var(--pastel-green);
    }
  }

  &.invalid {
    #name-text-box {
      border-color: var(--pastel-red);
    }

    #status-text {
      color: var(--pastel-red);
    }
  }
}

.results-container {
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  .glyph-select-section, #definitions-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .lexend {
      font-weight: 300;
      font-size: 24px;
    }
  }

  #glyph-selector {
    @include no-select;

    pointer-events: none;

    font-family: "sitelen-seli-kiwen-mono--asuki", serif;
    font-size: 64px;
    white-space: nowrap;

    position: relative;
    z-index: 2;
    margin: 18px 0 0 0;

    #noun, #name-outline {
      font: inherit;
      display: inline;
    }

    .name-letter {
      --letter-index: 0;
      --letter-bg-color: red;
      --letter-scroll: 0;
      --anim-multiplier: 1;

      pointer-events: auto;

      position: absolute;

      --border-width: 4px;
      border: var(--border-width) solid black;
      border-radius: 18px;
      top: 0;
      left: calc(.9em * (var(--letter-index) + 2));
      box-sizing: border-box;
      margin: calc(0px - var(--border-width));
      background-color: var(--letter-bg-color);
      width: 1em;
      height: calc(4em * (115 / 96));
      //  overflow: hidden;
      z-index: -1;

      & > div {
        //transition: transform calc(.2s * var(--anim-multiplier)) ease-in-out;
        transition-property: transform;
        transition-duration: calc(.2s * var(--anim-multiplier));
        transition-timing-function: ease-in-out;
        transform: translateY(calc(-1em * (115 / 96) * var(--letter-scroll)));
      }
    }
  }
}