@font-face {
  font-family: "sitelen-seli-kiwen-mono--asuki";
  src: url("sitelen seli kiwen/sitelenselikiwenmonoasuki.ttf") format("truetype");
}
@font-face {
  font-family: "sitelen-seli-kiwen--asuki";
  src: url("sitelen seli kiwen/sitelenselikiwenasuki.ttf") format("truetype");
}
@font-face {
  font-family: "sitelen-seli-kiwen--juniko";
  src: url("sitelen seli kiwen/sitelenselikiwenjuniko.ttf") format("truetype");
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  --bg-color: #f6e7cb;
  --input-bg-color: #f6d0cb;
  --pastel-green: #74d3ae;
  --pastel-red: #e5705b;
}

html, body {
  background: var(--bg-color);
}

main {
  margin: 32px 32px;
}

h1, h2, p, .lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.05em;
}

h2 {
  font-weight: 400;
}

h1 {
  font-weight: 400;
  font-size: 2.4em;
}

#name-input-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#name-input-container label {
  font-weight: 300;
  font-size: 24px;
}
#name-input-container .text-box-container {
  margin: 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
#name-input-container #name-text-box {
  border-width: 3px;
  border-style: solid;
  border-radius: 24px;
  padding: 12px 0 12px 18px;
  height: fit-content;
  background: var(--input-bg-color);
  font-family: "sitelen-seli-kiwen--juniko", serif;
  font-size: 30px;
  min-width: 3em;
}
#name-input-container #status-text {
  font-size: 32px;
  margin: 12px;
}
#name-input-container.valid #name-text-box {
  border-color: var(--pastel-green);
}
#name-input-container.valid #status-text {
  color: var(--pastel-green);
}
#name-input-container.invalid #name-text-box {
  border-color: var(--pastel-red);
}
#name-input-container.invalid #status-text {
  color: var(--pastel-red);
}

.results-container {
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.results-container .glyph-select-section, .results-container #definitions-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.results-container .glyph-select-section .lexend, .results-container #definitions-section .lexend {
  font-weight: 300;
  font-size: 24px;
}
.results-container .glyph-select-section {
  align-items: center;
}
.results-container .glyph-select-section #glyph-selector {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  font-family: "sitelen-seli-kiwen-mono--asuki", serif;
  font-size: 64px;
  white-space: nowrap;
  position: relative;
  z-index: 2;
  margin: 18px 0 0 0;
}
.results-container .glyph-select-section #glyph-selector #noun, .results-container .glyph-select-section #glyph-selector #name-outline {
  font: inherit;
  display: inline;
}
.results-container .glyph-select-section #glyph-selector .name-letter {
  --letter-index: 0;
  --letter-bg-color: red;
  --letter-scroll: 0;
  --letter-glyph-count: 1;
  --glyph-height: calc(1.2em);
  pointer-events: auto;
  position: absolute;
  --border-width: 4px;
  border: var(--border-width) solid black;
  border-radius: 18px;
  top: 0;
  left: calc(0.9em * (var(--letter-index) + 2));
  box-sizing: border-box;
  margin: calc(0px - var(--border-width));
  background-color: var(--letter-bg-color);
  width: 1em;
  height: calc(4 * var(--glyph-height));
  overflow: hidden;
  z-index: -1;
}
.results-container .glyph-select-section #glyph-selector .name-letter > div {
  transform: translateY(calc(0px - var(--glyph-height) * var(--letter-scroll)));
  height: calc(var(--glyph-height) * var(--letter-glyph-count));
}
.results-container .glyph-select-section #glyph-selector .name-letter > div > .glyph {
  height: var(--glyph-height);
}
.results-container #definitions-section {
  margin: 0 0 0 32px;
  flex-grow: 1;
  align-items: flex-start;
}
.results-container #definitions-section #definitions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
}
.results-container #definitions-section #definitions > div {
  --definition-color: red;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 54px;
  color: var(--definition-color);
}
.results-container #definitions-section #definitions > div .word {
  font-family: "sitelen-seli-kiwen-mono--asuki", serif;
}
.results-container #definitions-section #definitions > div .definition {
  font-family: "sitelen-seli-kiwen--juniko", serif;
  white-space: nowrap;
}
.results-container #definitions-section #definitions > div .definition::before {
  content: "-";
  margin-left: 0.2em;
  margin-right: 0.4em;
}

/*# sourceMappingURL=styles.css.map */
