@font-face {
  font-family: "sitelen-seli-kiwen--asuki";
  src: url("./sitelen-seli-kiwen/sitelenselikiwenasuki.eot") format("embedded-opentype");
  src: url("./sitelen-seli-kiwen/sitelenselikiwenasuki.ttf") format("truetype");
}
@font-face {
  font-family: "sitelen-seli-kiwen--atuki";
  src: url("./sitelen-seli-kiwen/sitelenselikiwenatuki.eot") format("embedded-opentype");
  src: url("./sitelen-seli-kiwen/sitelenselikiwenatuki.ttf") format("truetype");
}
@font-face {
  font-family: "sitelen-seli-kiwen--juniko";
  src: url("./sitelen-seli-kiwen/sitelenselikiwenjuniko.eot") format("embedded-opentype");
  src: url("./sitelen-seli-kiwen/sitelenselikiwenjuniko.ttf") format("truetype");
}
@font-face {
  font-family: "sitelen-seli-kiwen-mono--asuki";
  src: url("./sitelen-seli-kiwen/sitelenselikiwenmonoasuki.eot") format("embedded-opentype");
  src: url("./sitelen-seli-kiwen/sitelenselikiwenmonoasuki.ttf") format("truetype");
}
@font-face {
  font-family: "sitelen-seli-kiwen-mono--atuki";
  src: url("./sitelen-seli-kiwen/sitelenselikiwenmonoatuki.eot") format("embedded-opentype");
  src: url("./sitelen-seli-kiwen/sitelenselikiwenmonoatuki.ttf") format("truetype");
}
@font-face {
  font-family: "sitelen-seli-kiwen-mono--juniko";
  src: url("./sitelen-seli-kiwen/sitelenselikiwenmonojuniko.eot") format("embedded-opentype");
  src: url("./sitelen-seli-kiwen/sitelenselikiwenmonojuniko.ttf") format("truetype");
}
/* Original color set (this was adjusted to pass WCAG AAA for contrast with black and white)
    '#A4BF8A', '#A6374B', '#0D688C',
    '#4B4073', '#3A9E7A', '#C26747',
    '#2D4F94', '#BD9A5C', '#6C3570'
 */
:root {
  --reset-button-bg: #973030;
  --reset-button-text: #ffffff;
  --randomize-button-bg: #594893;
  --randomize-button-text: #ffffff;
  --copy-button-bg: #0a4885;
  --copy-button-text: #ffffff;
  --success-popup-text: #ffffff;
}

@media (prefers-color-scheme: light) {
  html:not(.theme-light, .theme-dark) {
    --main-bg: #f6e7cb;
    --main-text: #000000;
    --input-bg: #f6d0cb;
    --input-text: #000000;
    --status-good: #0c4200;
    --status-bad: #973030;
    --letter-border-color: #000000;
    --success-popup-bg: rgba(0, 0, 0, 0.7);
    --button-border-color: #000000;
  }
  html:not(.theme-light, .theme-dark) .l-fg-1 {
    color: #3d610a;
  }
  html:not(.theme-light, .theme-dark) .l-bg-1 {
    background-color: #b0d87f;
  }
  html:not(.theme-light, .theme-dark) .l-fg-2 {
    color: #973030;
  }
  html:not(.theme-light, .theme-dark) .l-bg-2 {
    background-color: #e66460;
  }
  html:not(.theme-light, .theme-dark) .l-fg-3 {
    color: #0a4885;
  }
  html:not(.theme-light, .theme-dark) .l-bg-3 {
    background-color: #6f96ec;
  }
  html:not(.theme-light, .theme-dark) .l-fg-4 {
    color: #594893;
  }
  html:not(.theme-light, .theme-dark) .l-bg-4 {
    background-color: #a18cd1;
  }
  html:not(.theme-light, .theme-dark) .l-fg-5 {
    color: #21634E;
  }
  html:not(.theme-light, .theme-dark) .l-bg-5 {
    background-color: #74d3ae;
  }
  html:not(.theme-light, .theme-dark) .l-fg-6 {
    color: #8A460F;
  }
  html:not(.theme-light, .theme-dark) .l-bg-6 {
    background-color: #f0aa7f;
  }
  html:not(.theme-light, .theme-dark) .l-fg-7 {
    color: #0b6079;
  }
  html:not(.theme-light, .theme-dark) .l-bg-7 {
    background-color: #6ec0cf;
  }
  html:not(.theme-light, .theme-dark) .l-fg-8 {
    color: #625806;
  }
  html:not(.theme-light, .theme-dark) .l-bg-8 {
    background-color: #f5eaa6;
  }
  html:not(.theme-light, .theme-dark) .l-fg-9 {
    color: #7a3e6c;
  }
  html:not(.theme-light, .theme-dark) .l-bg-9 {
    background-color: #ce7eb3;
  }
}
html.theme-light {
  --main-bg: #f6e7cb;
  --main-text: #000000;
  --input-bg: #f6d0cb;
  --input-text: #000000;
  --status-good: #0c4200;
  --status-bad: #973030;
  --letter-border-color: #000000;
  --success-popup-bg: rgba(0, 0, 0, 0.7);
  --button-border-color: #000000;
}
html.theme-light .l-fg-1 {
  color: #3d610a;
}
html.theme-light .l-bg-1 {
  background-color: #b0d87f;
}
html.theme-light .l-fg-2 {
  color: #973030;
}
html.theme-light .l-bg-2 {
  background-color: #e66460;
}
html.theme-light .l-fg-3 {
  color: #0a4885;
}
html.theme-light .l-bg-3 {
  background-color: #6f96ec;
}
html.theme-light .l-fg-4 {
  color: #594893;
}
html.theme-light .l-bg-4 {
  background-color: #a18cd1;
}
html.theme-light .l-fg-5 {
  color: #21634E;
}
html.theme-light .l-bg-5 {
  background-color: #74d3ae;
}
html.theme-light .l-fg-6 {
  color: #8A460F;
}
html.theme-light .l-bg-6 {
  background-color: #f0aa7f;
}
html.theme-light .l-fg-7 {
  color: #0b6079;
}
html.theme-light .l-bg-7 {
  background-color: #6ec0cf;
}
html.theme-light .l-fg-8 {
  color: #625806;
}
html.theme-light .l-bg-8 {
  background-color: #f5eaa6;
}
html.theme-light .l-fg-9 {
  color: #7a3e6c;
}
html.theme-light .l-bg-9 {
  background-color: #ce7eb3;
}
@media (prefers-color-scheme: dark) {
  html:not(.theme-light, .theme-dark) {
    --main-bg: #141516;
    --main-text: #dddddd;
    --input-bg: #2a2a2a;
    --input-text: #ffffff;
    --status-good: #74d3ae;
    --status-bad: #e66460;
    --letter-border-color: #404040;
    --success-popup-bg: rgba(42, 42, 42, 0.8);
    --button-border-color: #404040;
  }
  html:not(.theme-light, .theme-dark) .l-fg-1 {
    color: #b0d87f;
  }
  html:not(.theme-light, .theme-dark) .l-bg-1 {
    background-color: #3d610a;
  }
  html:not(.theme-light, .theme-dark) .l-fg-2 {
    color: #e66460;
  }
  html:not(.theme-light, .theme-dark) .l-bg-2 {
    background-color: #973030;
  }
  html:not(.theme-light, .theme-dark) .l-fg-3 {
    color: #6f96ec;
  }
  html:not(.theme-light, .theme-dark) .l-bg-3 {
    background-color: #0a4885;
  }
  html:not(.theme-light, .theme-dark) .l-fg-4 {
    color: #a18cd1;
  }
  html:not(.theme-light, .theme-dark) .l-bg-4 {
    background-color: #594893;
  }
  html:not(.theme-light, .theme-dark) .l-fg-5 {
    color: #74d3ae;
  }
  html:not(.theme-light, .theme-dark) .l-bg-5 {
    background-color: #21634E;
  }
  html:not(.theme-light, .theme-dark) .l-fg-6 {
    color: #f0aa7f;
  }
  html:not(.theme-light, .theme-dark) .l-bg-6 {
    background-color: #8A460F;
  }
  html:not(.theme-light, .theme-dark) .l-fg-7 {
    color: #6ec0cf;
  }
  html:not(.theme-light, .theme-dark) .l-bg-7 {
    background-color: #0b6079;
  }
  html:not(.theme-light, .theme-dark) .l-fg-8 {
    color: #f5eaa6;
  }
  html:not(.theme-light, .theme-dark) .l-bg-8 {
    background-color: #625806;
  }
  html:not(.theme-light, .theme-dark) .l-fg-9 {
    color: #ce7eb3;
  }
  html:not(.theme-light, .theme-dark) .l-bg-9 {
    background-color: #7a3e6c;
  }
}
html.theme-dark {
  --main-bg: #141516;
  --main-text: #dddddd;
  --input-bg: #2a2a2a;
  --input-text: #ffffff;
  --status-good: #74d3ae;
  --status-bad: #e66460;
  --letter-border-color: #404040;
  --success-popup-bg: rgba(42, 42, 42, 0.8);
  --button-border-color: #404040;
}
html.theme-dark .l-fg-1 {
  color: #b0d87f;
}
html.theme-dark .l-bg-1 {
  background-color: #3d610a;
}
html.theme-dark .l-fg-2 {
  color: #e66460;
}
html.theme-dark .l-bg-2 {
  background-color: #973030;
}
html.theme-dark .l-fg-3 {
  color: #6f96ec;
}
html.theme-dark .l-bg-3 {
  background-color: #0a4885;
}
html.theme-dark .l-fg-4 {
  color: #a18cd1;
}
html.theme-dark .l-bg-4 {
  background-color: #594893;
}
html.theme-dark .l-fg-5 {
  color: #74d3ae;
}
html.theme-dark .l-bg-5 {
  background-color: #21634E;
}
html.theme-dark .l-fg-6 {
  color: #f0aa7f;
}
html.theme-dark .l-bg-6 {
  background-color: #8A460F;
}
html.theme-dark .l-fg-7 {
  color: #6ec0cf;
}
html.theme-dark .l-bg-7 {
  background-color: #0b6079;
}
html.theme-dark .l-fg-8 {
  color: #f5eaa6;
}
html.theme-dark .l-bg-8 {
  background-color: #625806;
}
html.theme-dark .l-fg-9 {
  color: #ce7eb3;
}
html.theme-dark .l-bg-9 {
  background-color: #7a3e6c;
}

html, body {
  background: var(--main-bg);
  color: var(--main-text);
}

button {
  border-color: var(--button-border-color);
  background: var(--background);
}
button:hover {
  background: linear-gradient(to top, hsla(0, 0%, 100%, 0.1), hsla(0, 0%, 100%, 0.1)) var(--background);
}
button:active {
  background: linear-gradient(to top, hsla(0, 0%, 0%, 0.15), hsla(0, 0%, 0%, 0.15)) var(--background);
}

#settings-button {
  --background: var(--main-bg);
  color: var(--main-text);
}

#reset-button {
  --background: var(--reset-button-bg);
  color: var(--reset-button-text);
}

#randomize-button {
  --background: var(--randomize-button-bg);
  color: var(--randomize-button-text);
}

#name-input-container .text-box-container {
  background: var(--input-bg);
  color: var(--input-text);
}

#name-text-box {
  color: transparent;
  caret-color: var(--input-text);
}

#name-text-box-size-calibration::before {
  color: var(--input-text);
  opacity: 0.5;
}

#status-text--valid, #status-text--uncommon {
  color: var(--status-good);
}
#status-text--invalid {
  color: var(--status-bad);
}

.valid .text-box-container, .uncommon .text-box-container {
  border-color: var(--status-good);
}

.invalid .text-box-container {
  border-color: var(--status-bad);
}

#copy-button {
  --background: var(--copy-button-bg);
  color: var(--copy-button-text);
}

#success-popup {
  background: var(--success-popup-bg);
  color: var(--success-popup-text);
}

name-letter {
  border-color: var(--letter-border-color);
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

main {
  margin: 32px 32px;
}

.lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.05em;
}

h2 {
  font-weight: 400;
}

h1 {
  font-weight: 400;
  font-size: 2.4em;
}

button {
  --border-width: 4px;
  border-style: solid;
  border-width: var(--border-width);
  border-radius: 20px;
  font-weight: 400;
  font-size: 24px;
  padding: 0.4em 0.5em;
}

#title-settings-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
  margin: 0 0 20px 0;
}
#title-settings-row h1 {
  flex-grow: 1;
}
#title-settings-row #settings-button {
  margin-left: auto;
  font-size: 24px;
  padding: 6px 12px;
}

#name-input-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#name-input-container label {
  font-weight: 300;
  font-size: 24px;
}
#name-input-container .row {
  gap: 12px;
  flex-wrap: wrap;
}
#name-input-container .row button {
  padding: 16px 20px;
  border-radius: 24px;
}
#name-input-container .text-box-container {
  margin: 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  border-width: 3px;
  border-style: solid;
  border-radius: 24px;
  position: relative;
}
#name-input-container #name-text-box, #name-input-container #name-text-box-size-calibration {
  padding: 12px 0 12px 18px;
  font-family: "sitelen-seli-kiwen--juniko", serif;
  font-size: 30px;
  min-width: 4em;
  background: none;
  border: none;
  outline: none;
}
#name-input-container #name-text-box {
  position: absolute;
  left: 0;
  width: calc(100% - 24px);
}
#name-input-container #name-text-box-size-calibration {
  white-space: pre;
}
#name-input-container #name-text-box-size-calibration:empty::before {
  content: "jan Sonja";
}
#name-input-container #status-text--valid, #name-input-container #status-text--uncommon, #name-input-container #status-text--invalid {
  font-size: 32px;
  margin: 12px;
  display: none;
}
#name-input-container.valid #status-text--valid, #name-input-container.uncommon #status-text--uncommon, #name-input-container.invalid #status-text--invalid {
  display: block;
}

.results-container {
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 32px;
}
.results-container .glyph-select-section, .results-container #definitions-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.results-container .glyph-select-section .lexend:not(button), .results-container #definitions-section .lexend:not(button) {
  font-weight: 300;
  font-size: 24px;
}
.results-container .glyph-select-section {
  align-items: center;
}
.results-container .glyph-select-section #glyph-selector {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  font-family: "sitelen-seli-kiwen-mono--asuki", serif;
  font-size: 64px;
  white-space: nowrap;
  position: relative;
  z-index: 2;
  margin-top: 18px;
  height: 4.8em;
}
.results-container .glyph-select-section #glyph-selector #noun-and-name {
  font-size: 0;
}
.results-container .glyph-select-section #glyph-selector #noun, .results-container .glyph-select-section #glyph-selector #name-outline {
  font: inherit;
  font-size: 64px;
  display: inline;
}
.results-container .glyph-select-section #glyph-selector #copy-button {
  position: absolute;
  pointer-events: auto;
}
.results-container .glyph-select-section #glyph-selector #copy-button #success-popup {
  position: absolute;
  left: 12px;
  bottom: calc(100% + 12px);
  z-index: 1;
  padding: 4px 8px;
  border-radius: 8px;
  visibility: hidden;
}
.results-container .glyph-select-section #glyph-selector #copy-button #success-popup.show {
  animation: fade 3s;
}
@keyframes fade {
  0% {
    opacity: 1;
    visibility: visible;
  }
  66% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.results-container .glyph-select-section #glyph-selector name-letter {
  --letter-index: 0;
  --letter-scroll: 0;
  --letter-glyph-count: 1;
  pointer-events: auto;
  position: absolute;
  --border-width: 4px;
  border-width: var(--border-width);
  border-style: solid;
  border-radius: 18px;
  top: 0;
  left: calc(0.9em * (var(--letter-index) + 2));
  box-sizing: border-box;
  margin: calc(0px - var(--border-width));
  width: 1em;
  height: 4.8em;
  overflow: hidden;
  z-index: -1;
}
.results-container .glyph-select-section #glyph-selector name-letter > div {
  transform: translateY(calc(0px - 1.2em * var(--letter-scroll)));
  height: calc(1.2em * var(--letter-glyph-count));
}
.results-container .glyph-select-section #glyph-selector name-letter > div > .glyph {
  height: 1.2em;
}
.results-container #definitions-section {
  flex-grow: 1;
  align-items: flex-start;
}
.results-container #definitions-section #definitions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  align-self: stretch;
}
.results-container #definitions-section #definitions > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 54px;
}
.results-container #definitions-section #definitions > div .word {
  font-family: "sitelen-seli-kiwen-mono--asuki", serif;
}
.results-container #definitions-section #definitions > div .definition {
  font-family: "sitelen-seli-kiwen--juniko", serif;
  white-space: nowrap;
  flex-grow: 1;
}
.results-container #definitions-section #definitions > div .definition::before {
  content: "-";
  margin-left: 0.2em;
  margin-right: 0.36em;
}

/*# sourceMappingURL=styles.css.map */
