$font-files: (
        "sitelen-seli-kiwen--asuki": "sitelenselikiwenasuki",
        "sitelen-seli-kiwen--atuki": "sitelenselikiwenatuki",
        "sitelen-seli-kiwen--juniko": "sitelenselikiwenjuniko",
        "sitelen-seli-kiwen-mono--asuki": "sitelenselikiwenmonoasuki",
        "sitelen-seli-kiwen-mono--atuki": "sitelenselikiwenmonoatuki",
        "sitelen-seli-kiwen-mono--juniko": "sitelenselikiwenmonojuniko"
);

@each $font-name, $font-file in $font-files {
  @font-face {
    font-family: "#{$font-name}";
    @each $ext, $format in (eot, "embedded-opentype"), (ttf, "truetype") {
      @each $folder in "./", "../" {
        src: url("#{$folder}sitelen-seli-kiwen/#{$font-file}.#{$ext}") format("#{$format}");
      }
    }
  }
}