$font-files: (
        "sitelen-seli-kiwen--asuki": "sitelenselikiwenasuki",
        "sitelen-seli-kiwen--atuki": "sitelenselikiwenatuki",
        "sitelen-seli-kiwen--juniko": "sitelenselikiwenjuniko",
        "sitelen-seli-kiwen-mono--asuki": "sitelenselikiwenmonoasuki",
        "sitelen-seli-kiwen-mono--atuki": "sitelenselikiwenmonoatuki",
        "sitelen-seli-kiwen-mono--juniko": "sitelenselikiwenmonojuniko"
);

@each $font-name, $font-file in $font-files {
  @font-face {
    font-family: "#{$font-name}";
    @each $folder in "", "../"{
      @each $ext, $format in (ttf, "truetype"), (eot, "embedded-opentype") {
        src: url("#{$folder}sitelen-seli-kiwen/#{$font-file}.#{$ext}") format(#{$format});
      }
    }
  }
}