$visible-glyph-count: 4;

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

main {
  margin: 32px 32px;
}

.lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.05em;
}

h2 {
  font-weight: 400;
}

h1 {
  font-weight: 400;
  font-size: 2.4em;
}

button {
  --border-width: 4px;
  border-style: solid;
  border-width: var(--border-width);
  border-radius: 20px;
  font-weight: 400;
  font-size: 24px;
  padding: .4em .5em;
}

#title-settings-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;;
  align-items: flex-end;
  margin: 0 0 20px 0;

  h1 {
    flex-grow: 1;
  }

  #settings-button {
    margin-left: auto;
    font-size: 24px;
    padding: 6px 12px;
  }
}

#name-input-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  label {
    font-weight: 300;
    font-size: 24px;
  }

  .row {
    gap: 12px;
    flex-wrap: wrap;

    button {
      padding: 16px 20px;
      border-radius: 24px;
    }
  }

  .text-box-container {
    margin: 12px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    border-width: 3px;
    border-style: solid;
    border-radius: 24px;
    position: relative;
  }

  #name-text-box, #name-text-box-size-calibration {
    padding: 12px 0 12px 18px;
    font-family: "sitelen-seli-kiwen--juniko", serif;
    font-size: 30px;
    min-width: 4em;
    background: none;
    border: none;
    outline: none;
  }

  #name-text-box {
    position: absolute;
    left: 0;
    width: calc(100% - 24px);
  }

  #name-text-box-size-calibration {
    white-space: pre;

    &:empty::before {
      content: "jan Sonja";
    }
  }

  #status-text {
    &--valid, &--uncommon, &--invalid {
      font-size: 32px;
      margin: 12px;
      display: none;
    }
  }

  &.valid #status-text--valid,
  &.uncommon #status-text--uncommon,
  &.invalid #status-text--invalid {
    display: block;
  }
}

.results-container {
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 32px;

  .glyph-select-section, #definitions-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .lexend:not(button) {
      font-weight: 300;
      font-size: 24px;
    }
  }

  .glyph-select-section {
    align-items: center;

    #glyph-selector {
      @extend .no-select;

      $glyph-height: 1.2em;

      pointer-events: none;

      font-family: "sitelen-seli-kiwen-mono--asuki", serif;
      font-size: 64px;
      white-space: nowrap;

      position: relative;
      z-index: 2;
      margin-top: 18px;

      #noun-and-name {
        font-size: 0; // remove whitespace
      }

      #noun, #name-outline {
        font: inherit;
        font-size: 64px;
        display: inline;
      }

      #copy-button {
        position: absolute;
        pointer-events: auto;

        #success-popup {
          position: absolute;
          left: 12px;
          bottom: calc(100% + 12px);
          z-index: 1;
          padding: 4px 8px;
          border-radius: 8px;
          visibility: hidden;

          &.show {
            animation: fade 3s;
          }

          @keyframes fade {
            0% {
              opacity: 1;
              visibility: visible;
            }
            66% {
              opacity: 1;
            }
            99% {
              opacity: 0;
              visibility: visible;
            }
            100% {
              opacity: 0;
              visibility: hidden;
            }
          }
        }
      }

      height: calc($visible-glyph-count * $glyph-height);

      name-letter {
        --letter-index: 0;
        --letter-scroll: 0;
        --letter-glyph-count: 1;

        pointer-events: auto;

        position: absolute;

        --border-width: 4px;
        border-width: var(--border-width);
        border-style: solid;
        border-radius: 18px;
        top: 0;
        left: calc(.9em * (var(--letter-index) + 2));
        box-sizing: border-box;
        margin: calc(0px - var(--border-width));
        width: 1em;
        height: calc($visible-glyph-count * $glyph-height);
        overflow: hidden;
        z-index: -1;

        & > div {
          transform: translateY(calc(0px - $glyph-height * var(--letter-scroll)));
          height: calc($glyph-height * var(--letter-glyph-count));

          > .glyph {
            height: $glyph-height;
          }
        }
      }
    }
  }

  #definitions-section {
    flex-grow: 1;
    align-items: flex-start;

    #definitions {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: wrap;
      align-self: stretch;

      & > div {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        font-size: 54px;

        .word {
          font-family: "sitelen-seli-kiwen-mono--asuki", serif;
        }

        .definition {
          font-family: "sitelen-seli-kiwen--juniko", serif;
          white-space: nowrap;
          flex-grow: 1;

          &::before {
            content: "-";
            margin-left: 0.2em;
            margin-right: 0.36em;
          }
        }
      }
    }
  }
}